@layer reset, base, tokens, recipes, utilities;

h1 {
  font: 600 1.5rem "Inter";
  margin-bottom: 2rem;
  word-break: break-word;
}

h2 {
  font-size: 1.3rem "Inter";
  margin: 2rem 0 0.5rem;
}

h3 {
  font-size: 1.2rem "Inter";
  margin: 2rem 0 0.5rem;
}

p {
  margin: 1rem 0;
}

hr {
  box-sizing: content-box;
  overflow: visible;
  border: none;
  border-top: 1px solid #516391;
  margin: 10px 0;
  display: block;
}

span.code-name {
  background: var(--code-background-inline);
  padding: 0.125rem 0.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

table {
  width: 100%;
}

th {
  font-weight: bold;
}

td {
  padding: 6px 15px 6px 0;
  line-height: 1.4;
}

td:last-child {
  padding-right: 0;
}

span.type {
  font-weight: 400;
  font-size: 0.9rem;
  font-feature-settings: none;
  font-variant-ligatures: none;
  color: #ec5990;
}

.contents a {
  color: var(--text-link);
  text-decoration: underline;
}

.toc {
  font-size: 0.83rem;
  padding-left: 0;
}

.toc-title {
  letter-spacing: 1.5px;
  margin: 0 0 1rem;
}

.toc-link {
  border-left: 2px solid #696969;
  color: #cdcdcd;
  display: block;
  padding: 0.5rem 0rem 0.5rem 1rem;
  text-decoration: none;
}

.toc-link:hover {
  border-left: 2px solid #5994ec;
  color: #5994ec;
}
